.content.pure-g
  .pure-u-1.pure-u-md-1-5
  .pure-u-1.pure-u-md-3-5
    .pure-g.card.complete-registration
      .pure-u-1.card-header
        %h1
          %span.fa.fa-sign-in
          Complete Registration
      .pure-u-1.registration-body
        %form.pure-form.pure-form-aligned#complete-registration-form(action="/register/complete" method="post")
          %fieldset
            .pure-control-group
              %label(for="email") Email
              %strong
                = @user.email
              %input(type="hidden" name="email" value="#{@user.email}")
            .pure-control-group
              %label(for="name") Name
              %input(type="text" placeholder="Username" name="name" value="#{@user.name}" required="required")
            .pure-control-group
              %label(for="affiliation") Affiliation
              %select#affiliation-select
                %option(value="") Other
                - User::AFFILIATIONS.each do |_, name|
                  - if @user.affiliation == name
                    %option(value="#{name}" selected="selected")= name
                  - else
                    %option(value="#{name}")= name
              %input#affiliation-text(type="text" placeholder="Affiliation" name="affiliation" required="required")
            .pure-control-group
              %label(for="password") Password
              %input(type="password" placeholder="Password" name="password" required="required")
            .pure-control-group
              %label(for="confirm") Confirm
              %input(type="password" placeholder="Confirm Password" name="confirm" required="required")
            .pure-controls
              %button.pure-button.pure-button-primary(type="submit") Login
