.content.pure-g.scoreboard
  .pure-u-1.pure-u-md-1-6
  .pure-u-1.pure-u-md-2-3
    .pure-g.card.scoreboard-links
      .pure-u-1
        - active = params[:track].nil? ? 'pure-button-active' : ''
        %a.pure-button(href="/scoreboard" class="#{active}") Overall
        - @tracks.each do |track|
          - active = params[:track] == track.name ? 'pure-button-active' : ''
          %a.pure-button(href="/scoreboard?track=#{track.name}" class="#{active} #{track.color}")= track.name
    .pure-g.card
      .pure-u-1.card-header
        %h1(style="text-align: center")
          - unless @track.nil?
            = @track.name
          Scoreboard
      .pure-u-1
        %table.pure-table.pure-table-horizontal(style="width:100%" class="#{@track.nil? ? '' : @track.color}")
          %thead
            %tr
              %th Place
              %th Name
              %th Affiliation
              %th Score
          %tbody
            - @users = @users.sort_by{|u| -u.score }
            - @users.each_with_index do |user, index|
              - next if user.score <= 0
              %tr
                %td= index + 1
                %td= user.name
                %td
                  - if user.affiliation.blank?
                    .no-affiliation
                      None
                  - else
                    = user.affiliation
                %td= user.score || 0
