.pure-u-1.pure-u-md-1-2
  .pure-g.card(class="#{@track.color}")
    .pure-u-1.card-header
      %h1
        - if @flag.nil?
          %span.fa.fa-train
          = @track.name
          Details
        - else
          %span.fa.fa-flag
          = @track.name
          = @flag.name
          Details
    .pure-u-1.card-body
      = yield
      %blockquote
        Remember flags will be in the form
        %strong flag{xxxxx}
- unless @track.diagram.blank?
  .pure-u-1.pure-u-md-1-2
    .pure-g.card.network-diagram(class="#{@track.color}")
      .pure-u-1.card-header.right
        %h1
          = @track.name
          Network
          %span.fa.fa-exchange
      .pure-u-1.card-body
        %img(src="#{@track.diagram}")
