.content.pure-g.user-stats
  .pure-u-1.pure-u-md-1-6
  .pure-u-1.pure-u-md-2-3
    .pure-g.card
      .pure-u-1-3.user-name
        %h1
          = @user.name
      .pure-u-1-3.user-affiliation
        %h1
          = @user.affiliation
      .pure-u-1-3.user-score
        %h1
          = @user.score
          Points
.content.track-tables.pure-g
  - @tracks.each do |track|
    .pure-u-1.pure-u-md-1-3
      .track-table(class="#{track.color}")
        .track-header
          %span.title
            = track.name
            %span.fa.fa-train
        %ul.track-list
          - track.flags.order_by(order: :asc).each do |flag|
            - if @user.flags.include? flag
              %li.completed
                = flag.name
                %span.fa.fa-check
            - elsif flag.locked or track.locked
              %li.locked
                = flag.name
                %span.fa.fa-lock
            - else
              %li
                = flag.name
                %span.fa.fa-flag
